@using Blazored.Modal
@using Blazored.Modal.Services

@inherits ComponentBase
<div class="mb-2">
    <p>@Message</p>
    <button class="btn btn-primary" @onclick="Close">Ok</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public string Message { get; set; } = string.Empty;

    private Task Close()
        => BlazoredModal.CloseAsync(ModalResult.Ok());
}