# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment and dependency files
.env
.venv/
venv/
ENV/

# Ignore macOS system files
.DS_Store

# Ignore VSCode settings
.vscode/

# Ignore logs
*.log

# Ignore other common files
Thumbs.db
.idea/