# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code workspace
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Resharper
*.DotSettings.user

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish results
publish/
*.publish.xml

# Others
*.dbmdl
*.pdb
*.cache
*.config
*.vspscc
*.vssscc
*.tmp
*.bak
*.swp

# Visual Studio
.vs/
/source/IntegrationTests/https/aspnetcore.pfx
