@using ChangeLetters.Client.SharedComponents.Svgs

<button class="btn btn-primary" @onclick="()=> Clicked.InvokeAsync()">
    <AddImage/> Add New Entry
</button>

@code {
    [Parameter]
    [EditorRequired]
    public EventCallback Clicked { get; set; }
}
